[run]
branch = True
source = gocept.testdb

[report]
precision = 2
omit = */interfaces.py
       */interfaces
       */tests/*
       */tests.py

[html]
directory = coverage-report

[paths]
source =
   src/gocept/testdb
   .tox/*/lib/python*/site-packages/gocept/testdb
   .tox/pypy*/site-packages/gocept/testdb
