*.egg-info
*.pyc
*.sublime-workspace
.DS_Store
.cache
.coverage
.coverage.*
.installed.cfg
.pytest_cache/
.tox
bin
build
coverage-report
coverage.xml
develop-eggs
dist
doc/_api
eggs
htmlcov
include
junit-py*.xml
lib
local
local.cfg
parts
testreport*.xml
